@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS variables for Tailwind color system */
:root {
  --background:300 50% 100%;
  --foreground: 300 0% 4%;
  --card:300 50% 100%;
  --card-foreground: 300 0% 4%;
  --popover:300 50% 100%;
  --popover-foreground: 300 0% 4%;
  --primary: 161.69 100% 30%;
  --primary-foreground: 151.61 81% 96%;
  --secondary: 239.99 4% 96%;
  --secondary-foreground: 240.02 6% 10%;
  --muted: 239.99 4% 96%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 239.99 4% 96%;
  --accent-foreground: 240.02 6% 10%;
  --destructive: 358.87 75% 50%;
  --destructive-foreground: 0 0% 98%;
  --border: 330 0% 90%;
  --input: 330 0% 90%;
  --ring: 0 0% 63%;
  --radius: 0.625rem;
}

@layer base {
  :root {
    --background: 300 50% 100%;
    --foreground: 300 0% 4%;
    --card: 300 50% 100%;
    --card-foreground: 300 0% 4%;
    --popover: 300 50% 100%;
    --popover-foreground: 300 0% 4%;
    --primary: 161.69 100% 30%;
    --primary-foreground: 151.61 81% 96%;
    --secondary: 239.99 4% 96%;
    --secondary-foreground: 240.02 6% 10%;
    --muted: 239.99 4% 96%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 239.99 4% 96%;
    --accent-foreground: 240.02 6% 10%;
    --destructive: 358.87 75% 50%;
    --border: 330 0% 90%;
    --input: 330 0% 90%;
    --ring: 0 0% 63%;
    --radius: 0.625rem;
    --chart-1: 156.17 73% 67%;
    --chart-2: 157.33 62% 53%;
    --chart-3: 159.24 80% 41%;
    --chart-4: 161.69 100% 30%;
    --chart-5: 161.3 72% 27%;
  }

  .dark:root {
    --background: 300 0% 4%;
    --foreground: 300 0% 98%;
    --card: 300 0% 4%;
    --card-foreground: 300 0% 98%;
    --popover: 300 0% 4%;
    --popover-foreground: 300 0% 98%;
    --primary: 159.24 80% 41%;
    --primary-foreground: 166.26 100% 9%;
    --secondary: 240.05 4% 16%;
    --secondary-foreground: 300 0% 98%;
    --muted: 240.05 4% 16%;
    --muted-foreground: 0 0% 63%;
    --accent: 240.05 4% 16%;
    --accent-foreground: 300 0% 98%;
    --destructive: 358.75 100% 70%;
    --border: 240.05 4% 16%;
    --input: 240.05 4% 16%;
    --ring: 300 0% 45%;
    --chart-1: 156.17 73% 67%;
    --chart-2: 157.33 62% 53%;
    --chart-3: 159.24 80% 41%;
    --chart-4: 161.69 100% 30%;
    --chart-5: 161.3 72% 27%;
  }
}
